body {
    background-color: rgb(235, 235, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuSup {
    background-color: rgba(27, 73, 21, 0.808);
}

.message {
    border-radius: 10px;
    width: 80%;
    height: 100%;
    margin: 10px;
    padding: 10px;
}

.messagePlanoPet {    
    background-color: rgba(168, 168, 168, 0.548);
    
}

.dashboard {
    margin-top: 20px;
    width: 15vw;
    height: 14vh;
    background-color: rgb(216, 216, 216); 
    border-radius: 5px;
    padding-top: 10px;
}

.ativo h5 {
    color: whitesmoke;
}

.ativo {
    background-color: rgba(27, 73, 21, 0.808);
}

.quantidade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.dashboard .qtd {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 80px;
    width: 32px;
    border: 1px solid black;
    font-size: 20px;
}
