body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("./../images/wall1.jpg");
}

.menuSup {
    background-color: rgba(27, 73, 21, 0.808);
    height: 100px;
    font-size: 25px;
}

.menus ul{
    list-style: none;
    margin-right: 30px;
    
}

#logo1 {
    max-width: 110px;
    transition-duration: 0.5s;
    margin-top: -5px;
}


.menus ul li {
    display: inline-block;
    margin: 10px;
    height: 50px;
    width: 10%;    
    color: whitesmoke;
    border-bottom: 2px solid transparent;
    transition-duration: 0.5s;
}

.menus ul li:hover {
    border-bottom: 2px solid rgb(122, 216, 85);
    cursor: pointer;
}

.menusInferior ul{
    list-style: none;
}

.menusInferior ul li {
    display: inline-block;
    margin: 5px;
}

.fotinha {
    max-width: 50px;
    min-width: 50px;
}

.form-title {
    color: aliceblue;
}

.campos {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.botao-cadastro {
    width: 200px;
}

.info {
    background-color: rgb(241, 241, 241);
    margin-top: -25px;
}

.page-footer {
    background-color: rgba(0, 0, 0, 0.842);
}