body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("./../images/wall1.jpg");
}

a:hover {
    cursor: pointer;
}

.menuSup {
    background-color: rgba(27, 73, 21, 0.808);
    height: 100px;
    font-size: 25px;
}

.chat {
    width: 18vw;
    height: 45vh;
    background-color: rgb(226, 226, 226);
    position:fixed;
    bottom:30px;
    z-index: 2;
    left: 80%;
}

.message {
    border-radius: 0px 3px 3px 3px;
    width: 80%;
    height: 100%;
    margin: 10px;
    padding: 10px;
}

.messagePlanoPet {    
    background-color: rgba(0, 128, 0, 0.548);
    
}

.messageUser {
    background-color: rgba(165, 165, 165, 0.548);
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 80px;
    background-color: rgb(0, 206, 0);
    margin-top: 7px;
}
.barraSupChat {
    background-color: rgba(27, 73, 21, 0.808);
    color: whitesmoke;
}

.contentChat {
    height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.toolsChat {
    height: 5vh;
}

.sendMessage {
    width: 220px;
    height: 35px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid black;
}


.menus ul{
    list-style: none;
    margin-right: 30px;
    
}

#logo1 {
    max-width: 110px;
    transition-duration: 0.5s;
    margin-top: -5px;
}

#logo2 {
    max-width: 75px;
    transition-duration: 0.5s;
    margin-top: -10px;
}

.menuMobile {
    background-color: rgba(27, 73, 21, 0.808);
}


.menus ul li {
    display: inline-block;
    margin: 10px;
    height: 50px;
    width: 10%;    
    color: whitesmoke;
    border-bottom: 2px solid transparent;
    transition-duration: 0.5s;
}

.menus ul li:hover {
    border-bottom: 2px solid rgb(122, 216, 85);
    cursor: pointer;
}

.menusInferior ul{
    list-style: none;
}

.menusInferior ul li {
    display: inline-block;
    margin: 5px;
}

.fotinha {
    max-width: 50px;
    min-width: 50px;
}

.form-title {
    color: aliceblue;
}

.campos {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.botao-cadastro {
    width: 200px;
}

.info {
    background-color: rgb(241, 241, 241);
    margin-top: -25px;
}

.page-footer {
    background-color: rgba(0, 0, 0, 0.842);
}

/* Luizera */

a{
    color: white;
}

a:hover{
    color: whitesmoke;
}

.copyright{
    text-align:center;
}

.menuitens{
    margin-left: 10%;
}